<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netflix.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="24" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="24" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemestyle"
        android:usesCleartextTraffic="true">
        <activity android:name=".drawer.Dialog_Pay_Activity">


        </activity>
        <activity android:name=".drawer.DalogActivity" />
        <activity android:name=".drawer.ReferEarn_Activity" />
        <activity android:name=".drawer.PrivacyPolicy_Activity" />
        <activity android:name=".drawer.RedeemGiftVoucher_Activity" />
        <activity android:name=".drawer.PrimiumPlan_Activity">

        </activity>
        <activity android:name=".drawer.Profile_Activity" />
        <activity
            android:name=".home.ui.PlayMovieActivity"
            android:configChanges="orientation|screenSize|layoutDirection"/>
        <activity
            android:name=".home.ui.Home_Activity"
            android:theme="@style/AppThemestyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".main.MainActivity" >

        </activity>
        <activity android:name=".home.ui.MovieDetailActivity" />
    </application>

</manifest>